# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/
ENV/

# SQLite Database / Local Data
resume_analytics/data/
*.db
*.sqlite

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
